
.layout {
  display: flex;
  height: 100vh;
  background-color: aliceblue;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem 4rem;
  overflow-y: auto;
  height: 100vh;
  position: fixed;
  left: 200px;
  right: 0;
  top: 60px;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}
