<div
  #logoUploadContainer
  class="logo-upload-container"
  cdkDrag
  (cdkDragEnded)="onDragEnd($event)"
  (click)="openOptionsPanel()"
>

  <div class="upload-area"  [class.has-image]="imageUrl">
    <div class="upload-content" *ngIf="!imageUrl">
      <div class="upload-icon">
        <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M7 16C4.79086 16 3 14.2091 3 12C3 9.79086 4.79086 8 7 8C7.5726 8 8.11359 8.12796 8.6 8.35403M12 4H15M15 4L12 7M15 4L12 1M12 20H9M9 20L12 17M9 20L12 23M17 8C19.2091 8 21 9.79086 21 12C21 14.2091 16 17 16C16.4274 16 15.8864 15.872 15.4 15.646"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <p class="upload-subtitle">{{ 'or click to select files' | translate }}</p>
    </div>

    <div class="image-preview" *ngIf="imageUrl">
      <img [src]="imageUrl" alt="Uploaded logo" class="uploaded-image" />
      <div class="image-overlay">
       
      </div>
    </div>
  </div>
</div>