.calendar-container {
    position: absolute;
    cursor: move;
    width: 280px;
    min-height: 10px;
    padding: 4px;
    transition: all 0.3s ease;
    border: 1.8px dashed #cbd5e1;
    border-radius: 8px;
    background-color: white;
}

.compact-fields {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.compact-field {
    width: 100%;
    font-size: 12px;
}

.compact-field .mat-form-field-wrapper {
    padding-bottom: 0.5em;
}

.compact-field .mat-form-field-infix {
    padding: 0.3em 0;
    border-top: 0;
}

.compact-field .mat-form-field-label-wrapper {
    top: -1.1em;
}

.compact-field .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0.1em;
}

.small-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
}

/* Style pour le datepicker */
.modern-datepicker-panel {
    border-radius: 8px;
    font-size: 12px;
}

.modern-datepicker-panel .mat-calendar-body-selected {
    background-color: #3b82f6;
    color: white;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #3b82f6;
}