<div
  #calendarContainer
  class="calendar-container cursor-move"
  cdkDrag
  (cdkDragEnded)="onDragEnd($event)"
  (click)="openOptionsPanel()"
  [style.left.px]="x"
  [style.top.px]="y"
>
  <div class="compact-fields">
    <!-- Date d'émission -->
    <mat-form-field class="compact-field">
      <mat-label>Date d'émission</mat-label>
      <input matInput [matDatepicker]="picker1" [(ngModel)]="selectedDate1" data-placeholder="#creationDate">
      <mat-datepicker-toggle matSuffix [for]="picker1">
        <mat-icon class="small-icon">calendar_today</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <!-- Règlement -->
    <mat-form-field class="compact-field">
      <mat-label>Règlement</mat-label>
      <input matInput [matDatepicker]="picker2" [(ngModel)]="selectedDate2" data-placeholder="#dueDate">
      <mat-datepicker-toggle matSuffix [for]="picker2">
        <mat-icon class="small-icon">calendar_today</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>
</div>