
<div class="home-content">

 
  <mat-card class="createfacture-card">
    <mat-card-header>
      <div class="header-content">
        <mat-icon class="invoice-icon">receipt</mat-icon>
        <div>
          <mat-card-title>{{ 'Create my first invoice' | translate }}</mat-card-title>
          <mat-card-subtitle>{{ 'Transform your management with ease' | translate }}</mat-card-subtitle>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="primary" class="invoice-btn" [routerLink]="'/modele'">
        <mat-icon>add_circle</mat-icon>{{ 'New Invoice' | translate }}
      </button>
    </mat-card-content>
  </mat-card>
      <app-stats></app-stats>

</div>