<div class="language-switcher">
  <button (click)="toggleLanguageMenu()" class="btn btn-light btn-sm">
    <img [src]="getLanguageFlag()" alt="Language" class="lang-icon" />
  </button>
  
  <div *ngIf="showLanguageMenu" class="language-options">
    <button (click)="switchLanguage('en')" class="btn btn-light btn-sm">
      <img src="assets/icons/united-kingdom.png" alt="English" class="lang-icon" />
    </button>
    <button (click)="switchLanguage('fr')" class="btn btn-light btn-sm">
      <img src="assets/icons/square.png" alt="Français" class="lang-icon" />
    </button>
  </div>
</div>
