.facture-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 16px 24px;
  border-radius: 12px;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: #ffffff; 
  color: #ffd700;            
}
.facture-title {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  color: #ffd700; 
}
  .yellow-button {
    background-color: #FFD700 !important;
  }
  .yellow-button:hover {
    background-color: #FFC107 !important;
  }