.table-container {
  width: 750px;
  position: absolute;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  cursor: move;
  z-index: 10;
  transition: all 0.3s ease;
  border: dashed 1.8px #cbd5e1;
  border-radius: 8px;
}

.table-header {
  background-color: #FFD700;
}

