
  /* Hover effect for employee header */
.employee-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 16px 24px;
    border-radius: 12px;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: #ffffff;
    color: #ffd700;
  }
  .highlight {
  background-color: #FFD700; /* Couleur dorée */
  color: #252437; /* Couleur du texte */
  padding: 0.1em 0.2em;
  border-radius: 0.2em;
  font-weight: bold;
}
  

  
  /* Hover effect for employee title */
  .Service-title {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    color: #ffd700;
  }
  

  

  

  
  .hover-header .employee-title {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    color: #ffd700;
  }
  .yellow-button {
    background-color: #FFD700 !important;
  }
  .yellow-button:hover {
    background-color: #FFC107 !important;
  }