::ng-deep .mat-header-cell {
  background-color: #252437 !important;
  color: white !important;
}

.employee-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 16px 24px;
  border-radius: 12px;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: #ffffff; 
  color: #ffd700;            
}
.yellow-button {
  background-color: #FFD700 !important;
}
.yellow-button:hover {
  background-color: #FFC107 !important; /* Une teinte légèrement plus foncée pour le survol */
}




.employee-title {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  color: #ffd700; 
}
/* Success toast (green) */
.success-snackbar {
  background-color: #4caf50 !important; /* Green background */
  color: white !important; /* White text */
}
.success-snackbar .mat-snack-bar-action {
  color: white !important; /* White action button */
}

/* Error toast (red) */
.error-snackbar {
  background-color: #f44336 !important; /* Red background */
  color: white !important; /* White text */
}
.error-snackbar .mat-snack-bar-action {
  color: white !important; /* White action button */
}

/* Warning toast (yellow/orange) */
.warning-snackbar {
  background-color: #ff9800 !important; /* Orange background */
  color: white !important; /* White text */
}
.warning-snackbar .mat-snack-bar-action {
  color: white !important; /* White action button */
}

