<!-- parent.component.html -->
<div class="a4-layout">
  
  <div #a4Page class="a4-page">
    <div class="page-content">
      <app-logo [containerRef]="mainContent" [boundaryElement]="a4Page" (openOptions)="onOpenOptions($event)"></app-logo>

      <app-table [containerRef]="mainContent" [boundaryElement]="a4Page" (openOptions)="onOpenOptions($event)"></app-table>
      <app-calendar [boundaryElement]="a4Page" (openOptions)="onOpenOptions($event)"></app-calendar>
      <app-info-company [boundaryElement]="a4Page" (openOptions)="onOpenOptions($event)"></app-info-company>
      <app-info-client [boundaryElement]="a4Page" (openOptions)="onOpenOptions($event)"></app-info-client>
      <app-footer [containerRef]="mainContent" [boundaryElement]="a4Page" (openOptions)="onOpenOptions($event)"></app-footer>
    </div>
  </div>

  <div class="options-wrapper" [class.open]="showOptions">
    <app-options 
      [activeComponent]="activeComponent"
      (stylesUpdated)="onStylesUpdated($event)">
    </app-options>
  </div>

  <button class="save-btn bg-amber-300 text-white py-2 px-4 rounded-sm" 
    [matTooltip]="'Invoice.saveTooltip' | translate"
    [attr.aria-label]="'Invoice.saveAriaLabel' | translate"
    (click)="saveModeleFacture()">
    <mat-icon>save</mat-icon>
    <span class="btn-text">{{ 'Invoice.Sauvegarder' | translate }}</span>
  </button>

  <button class="toggle-options-btn" (click)="toggleOptions()" 
    [matTooltip]="'Invoice.toggleTooltip' | translate"
    matTooltipPosition="left" 
    [attr.aria-label]="'Invoice.toggleAriaLabel' | translate">
    <mat-icon>settings</mat-icon>
    <span class="btn-text">{{ 'Invoice.options' | translate }}</span>
  </button>
</div>